body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #7d0a0a;
  margin-bottom: 10px;
  border-radius: 5px;
}
nav img {
  width: 150px;
}
.navbar .logos img {
  width: 50px;
  padding-right: 0.7rem;
  filter: brightness(0) invert(1);
}
.navbar .logo {
  filter: brightness(0) invert(1);
}
.title {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  color: #f0f0f0;
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  nav img {
    width: 100px;
  }
  .title {
    display: none;
  }
}
