.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.logo,
.profile-icon {
  width: 40px;
  height: 40px;
}

.user-info {
  text-align: right;
  line-height: 1.2;
}

.name {
  font-weight: bold;
}

.department {
  font-size: 0.9em;
  color: #555;
}

#allschedules {
  background-color: pink;
  margin-bottom: 10px;
}
.schedules-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.schedules {
  border: 5px solid black;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: white;
}

#announcementboard {
  background-color: lightblue;
}
.announcements-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post {
  border: 3px solid black;
  width: 250px;
  margin: 10px;
  background-color: white;
  padding: 10px;
}
.post h3 {
  text-decoration: underline;
}
