#allschedules h1 {
  padding: 1.3rem;
}

#allschedules {
  background-color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
}

.schedules-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.schedules {
  background-color: #eedede;
  border: 2px solid #eedede;
  border-radius: 10px;
  padding: 20px;
  width: calc(25% - 20px);
  margin-bottom: 2rem;
}

.upcoming {
  background-color: rgb(229, 229, 59);
}

.cancelled {
  background-color: rgb(178, 45, 45);
  color: rgb(255, 255, 255);
}

.ongoing {
  background-color: rgb(108, 208, 108);
}
